<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>GI Pharma | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <link href="~/Theme/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Theme/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Theme/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body class="auth-body-bg">

    <div>
        <div class="">
            @RenderBody()
        </div>
    </div>
    <script src="~/Theme/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Theme/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Theme/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Theme/assets/js/app.js"></script>
    <script src="~/lib/jquery/jquery.bootstrap-growl.js"></script>
    <script src="~/js/commonfunction.js"></script>

    <script>
        $(document).ready(function () {
            if ('@ViewBag.Message' != '') {
                showAlertMessage('@ViewBag.Message', "body", "info");
            }
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>

</html>